
<h1 id="h1Home">Contact</h1>


<mat-card>
    <mat-card-title>Novo Contato</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput name="name" [(ngModel)]="contact.name"  placeHolder="Nome" >
        </mat-form-field>
        <mat-form-field>
            <input matInput name="email" [(ngModel)]="contact.email" placeHolder="Email">
        </mat-form-field>
        <mat-form-field>
            <input matInput name="subject" [(ngModel)]="contact.subject" placeHolder="Subject">
        </mat-form-field>
        <mat-form-field>
            <input matInput name="message" [(ngModel)]="contact.message" placeHolder="Message">
        </mat-form-field>
        <mat-form-field>
            <input matInput name="status" [(ngModel)]="contact.status" placeHolder="Status">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createContact()">
        novo contato
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>
